@using BotDetect.Web.Mvc;
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
@{ MvcCaptcha exampleCaptcha = new MvcCaptcha("exampleCaptcha"); }
@model Web.Models.ThanhVien

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
@Html.Action("MenuLeftPartial", "SanPham");

    <div class="register" style="padding-top:0">
      
        <h2 style="font:bold 25px italic ;color:blue">Đăng Ký Tài Khoản Mới</h2>
        @using (Html.BeginForm())
        {
            if (ViewBag.ThongBao != null)
            {
                <div class="alert alert-success col-md-9" id="AlertBox"> @ViewBag.ThongBao </div>
            }
            if(ViewBag.loi != null)
            {
                <div class="alert alert-danger col-md-9" id="AlertBox"> @ViewBag.loi </div>
            }
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4 register-top-grid">
                    <div>
                        @Html.TextBoxFor(model => model.TaiKhoan,null,new { @placeholder="Tên Tài Khoản"})
                        @Html.ValidationMessageFor(model => model.TaiKhoan, null, new { @style="color:red" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model=>model.HoTen, null, new { @placeholder = "Họ Tên" })
                        @Html.ValidationMessageFor(model=>model.HoTen, null, new { @style = "color:red" })
                    </div>

                    <div>
                        @Html.TextBoxFor(model => model.DiaChi, null, new { @placeholder = "Địa Chỉ" })
                        @Html.ValidationMessageFor(model => model.DiaChi, null, new { @style = "color:red" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.Email, null, new { @placeholder = "Email" })
                        @Html.ValidationMessageFor(model => model.Email, null, new { @style = "color:red" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.SoDienThoai, null, new { @placeholder = "Số Điện Thoại" })
                        @Html.ValidationMessageFor(model => model.SoDienThoai, null, new { @style = "color:red" })
                    </div>
                </div>
                <div class="col-md-4 register-bottom-grid register-top-grid" style="float:right">
                    <div>
                        @Html.TextBoxFor(model => model.MatKhau, null, new { @placeholder = "Mật Khẩu" ,@type="password"})
                        @Html.ValidationMessageFor(model => model.MatKhau, null, new { @style = "color:red" })
                    </div>
                    <div>
                        @Html.TextBox("Matkhaure", null, new { @placeholder = "Nhập Lại Mật Khẩu", @type = "password" })
                        @Html.ValidationMessageFor(model => model.MatKhau, null, new { @style = "color:red" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.CauHoi, null, new { @placeholder = "Câu Hỏi Bí Mật" })
                        @Html.ValidationMessageFor(model => model.CauHoi, null, new { @style = "color:red" })
                    </div>

                    <div>
                        @Html.TextBoxFor(model => model.CauTraLoi, null, new { @placeholder = "Câu Trả Lời" })
                        @Html.ValidationMessageFor(model => model.CauTraLoi, null, new { @style = "color:red" })
                    </div>
                    <div>
                        @*@Html.MathCaptcha()*@
                        @Html.Captcha(exampleCaptcha)
                        @Html.TextBox("CaptchaCode")
                    </div>
                    <input type="submit" value="Đăng Ký" id="btndangky">
                </div>
                <div class="clearfix"> </div>
            </div>
        }
    
    </div>
@*<script>
    $(document).ready(function () {
        var pass1 = $('#MatKhau').val();
        var pass2 = $('#Matkhaure').val();
        $('#btndangky').click(function () {
            if (pass1 != pass2)
                alert('Mật Khẩu Không Trùng Nhau !!!');
            return false;
        });
    })
</script>*@
<!--//content-->

