@using Web.Models
@model IEnumerable<SanPham>
<div class="h_menu4" >
    <ul class="memenu skyblue" style="float:right;width:70%">
        <li class="active grid "><a  href=@Url.Action("Index","HomeLayout")>Trang Chủ</a></li>
       
            @foreach (var groupitem in Model.GroupBy(n => n.LoaiSanPham))
            {

                if (groupitem.Key != null)
                {
                    <li>
                        <a class="color1  dropdown-toggle" href="@Url.Action("SanPham","SanPham",new {maloaisp=groupitem.Key.MaLoaiSP })"data-toggle="dropdown">@groupitem.Key.TenLoai</a>
                        <div class="mepanel" style="width:100%">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            @foreach (var item in groupitem.GroupBy(x => x.NhaSanXuat))
                                            {
                                                if (item.Key != null)
                                                {
                                                    <li ><a href="@Url.RouteUrl("XemSanPham",new {maloaisp=groupitem.Key.MaLoaiSP, mansx = item.Key.MaNSX })" class="color1"     >
                                                        @item.Key.TenNSX</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }

           }

        <li class="grid">
            <a class="color2" href="#">	Thương Hiệu</a>
            <div class="mepanel" style="width:100%">
                <div class="row">
                    @foreach (var item in Model.GroupBy(n=>n.LoaiSanPham))
                    {
                        if (item.Key != null) { 
                        <div class="col1">
                        <div class="h_nav">
                            <h4>@item.Key.TenLoai</h4>
                            <ul>
                                @foreach (var itemgroup in item.GroupBy(x => x.NhaSanXuat))
                                {
                                     <li><a class="color1" href="@Url.RouteUrl("XemSanPham",new {maloaisp=item.Key.MaLoaiSP, mansx = itemgroup.Key.MaNSX })" >@itemgroup.Key.TenNSX</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    }
                    }
                </div>
            </div>
        </li>
    </ul>
</div>
<style>
    a {
        font-size:0.9em;
    }
</style>