@using Web.Models;
<body>
    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0&appId=1534290010015660&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="header-top" >
        <div class="container">
            <div class="search ">
                @*Tìm kiếm*@
                @using (Html.BeginForm("KQTimKiem", "TimKiem"))
                {
                    <input type="text" name="sTuKhoa" placeholder="Tên Sản Phẩm" />
                    <input type="submit" value="Tìm" />
                }
            </div>
            <div class="header-left">
                <ul>
                    @if (Session["TaiKhoan"] != null)
                    {
                        ThanhVien tv = (ThanhVien)Session["TaiKhoan"];
                         <!-- Single button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                @tv.TaiKhoan <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style="color:black">
                                <li><a href="#" style="color:black">@tv.HoTen</a></li>
                                <li ><a href=@Url.Action( "DangXuat", "HomeLayout",new { @url= @Request.Url.AbsoluteUri }) style="color:black">Đăng Xuất</a></li>
                                @if (Session["GioHang"] != null)
                                {
                                    var lst = (List<ItemGioHang>)Session["GioHang"];

                                <li ><a href="#" style="color:black">
                                        <span class="badge pull-right">@lst.Sum(x => x.SoLuong)</span>
                                        Giỏ Hàng
                                    </a>
                                </li>
                                }
                                @if(tv.LoaiThanhVien.TenLoai.Trim() == "Admin")
                                {
                                    <li><a href=@Url.Action("Index","QuanLySanPham") style="color:black">Trang Quản Trị</a></li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <li><a href="#" id="btnlogin">Đăng Nhập</a></li>
                        <li><a href=@Url.Action("DangKy","HomeLayout")>Đăng Ký</a></li>
                    }
                    <li>@Html.Action("GioHangPartial", "GioHang")</li>
                </ul>
                @*Chen partial gio hang*@

                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div>
        <div id="popup_login" class="modal fade ">
            <div class="col-md-4 col-md-offset-4  alert alert-info">
                <h3 class="text-center">Login</h3>
                <form id="FormLogin">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" name="txtname" id="txtname" placeholder="Tài Khoản" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" type="password" name="txtpass" id="txtpass" placeholder="Mật Khẩu" />
                        </div>
                    </div>
                    <div id="msg1"><ul style="color:red;">Tài Khoản  Sai</ul></div>
                    <div id="msg2"><ul style="color:red;">Mật Khẩu  Sai</ul></div>

                    <p><a href="#">Quên Mật Khẩu?</a></p>
                    <div class="form-group">
                        <button class="btn btn-info form-control" type="button" id="dangnhap"><i class="glyphicon glyphicon-log-in"></i> Đăng Nhập</button>
                    </div>
                    @* Login With FB *@
                    <div class="form-group" style="background-color:#4267b2;text-align:center">
                        <div class="fb-login-button loginfb" data-width="470" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false">
                        </div>
                    </div>                  
                    <div class="form-group">
                        <button class="btn btn-danger form-control" type="button" id="dangky"><i class="glyphicon glyphicon-lock"></i> Đăng Ký</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>
